/*598 x 603
478[500] x 597*/
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	line-height: 18px;
}
em{
	font-size: 1em;
}
.innerbox div label{
	margin:0;
	font-size: 1.2em;
}
body{
	width: 100%;
	background: linear-gradient(to bottom, rgba(29, 33, 41, 0.5) 0%, rgba(29, 33, 41, 0.5) 100%), url('http://www.akirapublicidad.com/backend/vistas/img/fondos/fondo4_eventos.png');
}
header{
	width: 100%;
	background-color: #fff;
}
#header{
	width: 100%;
	margin: 0 0 12px 0;
	display: flex;
	justify-content: center;
}
#header img{
	height: 50px;
}
#titulo{
	border-radius: 6px 6px 0 0;
	background: #fff;
	height: 92px;
	width: 598px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#titulo span{
	width: calc(100% - 40px);
	color:#3d2a7c;
	font-weight: bold;
	text-transform: uppercase;
}
footer{
	width:598px;
}
#footer{
	height: 63px;
	width: 100%;
	border:1px solid #e5e5e5;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 6px 6px;
}
#footer div{
	width:calc(100% - 12px);
	height: calc(100% - 12px);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#container{
	margin-top: 20px;
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.enbreve{
	color: #fff;
	font-size: 0.9em; 
	padding: 16px 8px;
}
#estetico{
	/*height: 503px;*/
	width: 598px;
	background:url('http://www.akirapublicidad.com/backend/vistas/img/fondos/fondo6_eventos.png');
	border-radius: 3px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#formWhatatour{
	width: 95%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.pregunta{
	width: 259px;
	height: 32px;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	margin-top: 16px;
	margin-bottom: 16px;
}
#checkbox{
	flex-direction: column;
}
.pregunta span{
	border-radius: 4px 0 0 4px;
	height: 100%;
	background: #eee;
	padding: 6px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.preguntas_group{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 2;
}
.pDoble{
	width: 98%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.data{
	padding: 6px 12px;
	border: 1px solid #dddfe2;
	border-radius: 0 4px 4px 0;
	background: white;
	width: 100%;
	height: 100%;
	text-align: left;
	text-align-last: left;
	vertical-align: middle;
}
#desc{
	height: 160px;
}
table{
	width: 476px;
}
label{
	color:#fff;
	width: 95%;
}
td{
	margin: 12px 0 12px 0;
}
select{
	width: 476px !important; 
	max-width: 476px !important;
}
#enviar{
	font-size: 14px;
	border-radius: 4px;
	width: 100%;
	height: 32px;
	background: #fff;
	color: #AC8D00;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}
#cerrar{
	font-size: 14px;
	border-radius: 4px;
	width: 83.89px;
	height: 32px;
	background: #D3AB07;
	color: white;
	font-weight: bold;
	border: 1px solid #ced0d4;
	text-transform: uppercase;
}
#cerrar:hover{
	background:#9193AF;
}
.swal-button{
	background: #AC8D00;
	color: #ffffff;
}
.checkboxes{
	width: 100%;
	padding:16px 0;
	display: flex; 
	flex-direction: row; 
	align-items: flex-start; 
	justify-content: center;
}
.innerbox{
	display:flex;
	flex-direction:column; 
	align-items:flex-start;
}
.innerbox div{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.innerbox div label{
	font-family:'rockb';
}
#checkbox label[for=servicio]{
	font-family: 'rockb';
	font-weight: bold;
	font-size: 2em;
	line-height: 28px;
}
input[type=checkbox]{
	width: 25px;
	height: 25px;
	background-color:#fff;
	margin-right: 10px;
}
/*@media screen and (max-width: 1366px){
	#estetico{
		height: calc(100vh - 313.5px);
		overflow-y: scroll;
	}*/
@media screen and (max-width: 568px) {
	*{ 
		font-size: 16px;
	}
	.pregunta{
		margin-top: 8px;
		margin-bottom: 8px;
	}
	#checkbox{
		height: auto !important;
	}
	.pregunta, #desc{
		width: calc(100% - 16px)
	}
	#container{
		width: auto;
		margin: 0;
	}
	#header img{
		height: 50px;
	}
	#formWhatatour{
		padding:0;
		padding-bottom: 50px;
		align-items: center;
	}
	#estetico{
		height: calc(100vh - 155px);
	}
	#estetico, footer, #titulo{
		width: 100%;
	}
	#titulo{
	}
	#titulo span{
	}
	#footer{
		border:0;
		background: white;
	}
	#footer div{
		justify-content: center;
	}
	table{
		width: 95%;
	}
	tbody{
		min-height: 93px;
	}
	label{
		padding-left: 8px;
		letter-spacing: 0.5px;
	}
	.data{
		height: 100%;
		align-self: center;
		width: calc(100% - 16px);
	}
	#enviar{
		width: 100%;
		text-transform: uppercase;
	}
	#cerrar{
		display: none;
	}
	.checkboxes{
		align-items: center;
		flex-direction: column;
	}
	#checkbox{
		margin-top: 25px;
	}
	.enbreve{
		text-align: center;
	}
}