#confirm div{ 
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#check{
	height: auto;
	width: 100%;
}
#confirm div div{
	margin:50px 0 50px 0;
	text-align: center;
}
.confText{
	color: #fff;
	font-family: 'rockb';
	font-size: 21px;
	padding: 0;	
	margin: 0;
}
#text_btn{
	margin:50px 0 0 0;
/*	font-family: 'rockb';*/
	font-size: 14px;
	font-weight: bold;
	color: #3d2a7c;
	text-transform: uppercase;
	background: white;
	border-radius: 10px;
	height: 35px;
	width: 170px;
}