/*598 x 603
478[500] x 597*/
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 14px; 
	line-height: 18px;
}
em{
	font-size: 1em;
}
.innerbox div label{
	margin:0;
	font-size: 1.2em;
}
body{
	width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 33, 41, 0.5)), to(rgba(29, 33, 41, 0.5))), url('http://www.akirapublicidad.com/backend/vistas/img/fondos/fondo4.png');
	background: -webkit-linear-gradient(top, rgba(29, 33, 41, 0.5) 0%, rgba(29, 33, 41, 0.5) 100%), url('http://www.akirapublicidad.com/backend/vistas/img/fondos/fondo4.png');
	background: -o-linear-gradient(top, rgba(29, 33, 41, 0.5) 0%, rgba(29, 33, 41, 0.5) 100%), url('http://www.akirapublicidad.com/backend/vistas/img/fondos/fondo4.png');
	background: linear-gradient(to bottom, rgba(29, 33, 41, 0.5) 0%, rgba(29, 33, 41, 0.5) 100%), url('http://www.akirapublicidad.com/backend/vistas/img/fondos/fondo4.png');
}
header{
	width: 100%;
	background-color: #fff;
}
#header{
	width: 100%;
	margin: 0 0 12px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#header img{
	height: 50px;
}
#titulo{
	-webkit-border-radius: 6px 6px 0 0;
	        border-radius: 6px 6px 0 0;
	background: #fff;
	height: 92px;
	width: 598px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#titulo span{
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	color:#3d2a7c;
	font-weight: bold;
	text-transform: uppercase;
}
footer{
	width:598px;
}
#footer{
	height: 63px;
	width: 100%;
	border:1px solid #e5e5e5;
	background-color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
}
#footer div{
	width:-webkit-calc(100% - 12px);
	width:calc(100% - 12px);
	height: -webkit-calc(100% - 12px);
	height: calc(100% - 12px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#container{
	margin-top: 20px;
	width:100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.enbreve{
	color: #fff;
	font-size: 0.9em; 
	padding: 16px 8px;
}
#estetico{
	/*height: 503px;*/
	width: 598px;
	background:url('http://www.akirapublicidad.com/backend/vistas/img/fondos/fondo6.png');
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	overflow-y: auto;
	overflow-x: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#formWhatatour{
	width: 95%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.pregunta{
	width: 259px;
	height: 32px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin-top: 8px;
	margin-bottom: 8px;
}
#checkbox{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.pregunta span{
	-webkit-border-radius: 4px 0 0 4px;
	        border-radius: 4px 0 0 4px;
	height: 100%;
	background: #eee;
	padding: 6px 12px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.preguntas_group{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
}
.pDoble{
	width: 98%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.data{
	padding: 6px 12px;
	border: 1px solid #dddfe2;
	-webkit-border-radius: 0 4px 4px 0;
	        border-radius: 0 4px 4px 0;
	background: white;
	width: 100%;
	height: 100%;
	text-align: left;
	-moz-text-align-last: left;
	     text-align-last: left;
	vertical-align: middle;
}
#desc{
	height: 64px;
}
table{
	width: 476px;
}
label{
	color:#fff;
	width: 95%;
}
td{
	margin: 12px 0 12px 0;
}
select{
	width: 476px !important; 
	max-width: 476px !important;
}
#enviar{
	font-size: 14px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	width: 100%;
	height: 32px;
	background: #fff;
	color: #3d2a7c;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}
#cerrar{
	font-size: 14px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	width: 83.89px;
	height: 32px;
	background: #3d2a7c;
	color: white;
	font-weight: bold;
	border: 1px solid #ced0d4;
	text-transform: uppercase;
}
#cerrar:hover{
	background:#9193AF;
}
.swal-button{
	background: #3d2a7c;
	color: #ffffff;
}
.checkboxes{
	width: 100%;
	padding:16px 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: horizontal; 
	-webkit-box-direction: normal; 
	-webkit-flex-direction: row; 
	    -ms-flex-direction: row; 
	        flex-direction: row; 
	-webkit-box-align: start; 
	-webkit-align-items: flex-start; 
	    -ms-flex-align: start; 
	        align-items: flex-start; 
	-webkit-box-pack: center; 
	-webkit-justify-content: center; 
	    -ms-flex-pack: center; 
	        justify-content: center;
}
.innerbox{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	    -ms-flex-direction:column;
	        flex-direction:column; 
	-webkit-box-align:start; 
	-webkit-align-items:flex-start; 
	    -ms-flex-align:start; 
	        align-items:flex-start;
}
.innerbox div{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.innerbox div label{
	font-family:'rockb';
}
#checkbox label[for=servicio]{
	font-family: 'rockb';
	font-weight: bold;
	font-size: 2em;
	line-height: 28px;
}
input[type=checkbox]{
	width: 25px;
	height: 25px;
	background-color:#fff;
	margin-right: 10px;
}
/*@media screen and (max-width: 1366px){
	#estetico{
		height: calc(100vh - 313.5px);
		overflow-y: scroll;
	}*/
@media screen and (max-width: 568px) {
	*{ 
		font-size: 16px;
	}
	#checkbox{
		height: auto !important;
	}
	.pregunta, #desc{
		width: -webkit-calc(100% - 16px);
		width: calc(100% - 16px)
	}
	#container{
		width: auto;
		margin: 0;
	}
	#header img{
		height: 50px;
	}
	#formWhatatour{
		padding:0;
		padding-bottom: 50px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	#estetico{
		height: -webkit-calc(100vh - 92px);
		height: calc(100vh - 92px);
	}
	#estetico, footer, #titulo{
		width: 100%;
	}
	#titulo{
	}
	#titulo span{
	}
	footer{
		display: none;
	}
	table{
		width: 95%;
	}
	tbody{
		min-height: 93px;
	}
	label{
		padding-left: 8px;
		letter-spacing: 0.5px;
	}
	.data{
		height: 100%;
		-webkit-align-self: center;
		    -ms-flex-item-align: center;
		            -ms-grid-row-align: center;
		        align-self: center;
		width: -webkit-calc(100% - 16px);
		width: calc(100% - 16px);
	}
	#enviar{
		width: 100%;
		text-transform: uppercase;
	}
	.checkboxes{
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#checkbox{
		margin-top: 25px;
	}
	.enbreve{
		text-align: center;
	}
}